* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #2563eb);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px;
    margin-left: 5px;
    border: none;
    background: #38bdf8;
    border-radius: 8px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}